.login-section{
    border: 2px solid lightblue;
}
.login-section h2{
    text-align: center;
}
.loginForm{
    display: flex;
    justify-content: center;
    padding: 50px 60px 50px 60px;
}
.error{
    color: red;
}