.spacer {
    flex: 1;
  }
  .toolbar {
    position: absolute;
    padding: 0 20px 0 20px ;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;   
    border: 2px solid red;
    font-weight: 600;
    color: brown;
  }
 .toolbar button{
    border: 5px solid #b888e5;
    background: none;
    margin-left: 10px;
    padding: 5px;
 }
  .toolbar img {
    margin: 0 5px;
  }