<!-- Toolbar -->

<div class="toolbar" role="banner">
  <div>
      <img src="{{MyImageSvg}}" alt="">
  </div>
  <div class="spacer"></div> 
    <ng-container *ngIf="IsUserloggedin else signIn">
        <h2 >{{UserName}}</h2>    
          <button>Logout</button>
    </ng-container>

    <ng-template #signIn>
          <h2 ></h2>    
           <button>Login</button>
     </ng-template>
  </div>

<div class="content" role="main">
<br>
   <!-- Courses -->
  <h2>Courses</h2>
  <p>Here are some links to help you get started:</p>
 
  <br>
  <div class="container">  
    <app-courses [courseBtnChildTitle]="courseBtnParentTitle"></app-courses>
  </div>
  <!-- Footer -->
  <footer>
    
  </footer>

</div>
