<!-- Toolbar -->

<div class="toolbar" role="banner">
  <div>
      <img src="{{MyImageSvg}}" alt="">
  </div>
  <div class="spacer"></div> 
    <ng-container *ngIf="IsUserloggedin else signIn">
        <h2 >{{UserName}}</h2>    
          <button>Logout</button>
    </ng-container>

    <ng-template #signIn>
          <h2 ></h2>    
           <button>Login</button>
     </ng-template>
  </div>

<div class="content" role="main">
<br>

  <div class="container">  

  <!-- Courses -->
  <app-courses [courseBtnChildTitle]="courseBtnParentTitle"></app-courses>

  <!-- Login -->
  <!-- <app-login></app-login> -->

  <!-- Registration -->
  <!-- <app-registr></app-registr> -->

  </div>
  <!-- Footer -->
  <footer>
    
  </footer>

</div>
